.login-page {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black url('images/3840x2160.jpg') center no-repeat;
  background-size: cover;
  overflow: auto;

  .ui.input {
    margin: 0;
  }

  &_inner {
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    width: 420px;
    padding: 40px;
    background: rgba(0,0,0,0.2);
    border-radius: 4px;
  }

  &_title {
    width: 100%;
    margin: 0 0 30px;
    font: 400 1.3em/1 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #fff;
  }

  &_title:before {
    content: '';
    display: block;
    margin: 0 auto 30px;
    height: 70px;
    background-size: contain;
  }
}