[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptvsd = "*"

[packages]
Django = "*"
psycopg2 = "*"
gunicorn = "*"
redis = "*"
django-redis = "*"
djangorestframework = "*"
django-cors-headers = "*"


[requires]
python_version = "3.7"
